<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Mystery Spot</title>
    <%= stylesheet_link_tag "all" %>
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href='//fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="outer-container" class="outer-container">
      <%= partial "partials/header" %>
      <div id="main">
        <%= yield %>
      </div>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
